// Colors
$white: #ffffff;
$black: #000000;

$page-bg: #f3f3f3;

// Brand-Colors
$rub-blue: #003560;
$rub-green: #709708 /* #709108 */;
$rub-green-alternative: #7c9c09;

$light-green: #cdd9a2;
$white-green:#e8efcf;




// Typografie
$font-family-base: Arial, Helvetica, sans-serif;
$font-family-mono: Consolas, "Lucida Console", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier;
$font-family-serif: Georgia, "Times New Roman", Times, serif;

$font-size-base: 12px;

$font-color: $rub-blue;