body {
    background: $page-bg none;
    padding: 0 0 10px 0;
}

#main {
    background: $white;
    margin: 10px 0;
    z-index: 99;
}

.page {
    background: $white;
    border: 0;
    box-shadow: 0 0 10px $black;
    margin: 0 auto;
    width: 960px;
}

#ueberschrift {
    padding: 1em 0 .5em 0;
}

.ueberschrift-wie-marginalspalte {
    background-color: $white-green;
    border-top: 2px solid #709108;
    color: $rub-blue;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
}

@media screen and (max-width: $screen-xl) {
    .page {
        max-width: 100%;
    }
}
