body {
    background: $page-bg none;
    padding: 0 0 10px 0;
}

.page_margins {
    background: $white;
    border: 0 none;
    box-shadow: 0 0 10px $black;
    margin: 0 auto;
    width: 960px;
}

#main {
    background: $white;
    margin: 10px 0;
    z-index: 99;
}

#inhalt {
    margin: 0 10px;

    h2 {
        border-top: 2px solid $rub-blue;
        color: $font-color;
        font-weight: normal;
        padding: .3125em 0 .625em;
    }

    h3 {
        font-weight: normal;
    }

    img {
        margin-bottom: .5em;
    }
}

.page {
    border: 0 none;
    // margin: 0 0 0 5px;
    // padding: 0px 5px 10px 0px;
}

#ueberschrift {
    padding: 1em 0 .5em 0;
}

.ueberschrift-wie-marginalspalte {
    background-color: $white-green;
    border-top: 2px solid #709108;
    color: $rub-blue;
    font-size: 100%;
    font-weight: bold;
    letter-spacing: 1px;
    padding: 5px;
}

@media screen and (max-width: $screen-xl) {
    .page_margins {
        max-width: 100%;
    }
}
