doctype
html.no-js(lang="de")

    head
        // Technical Stuff
        meta(charset="utf-8")
        meta(http-equiv="x-ua-compatible" content="ie=edge")

        // Responsive
        meta(name="viewport" content="width=device-width, initial-scale=1")

        // Android
        meta(name="theme-color" content="#003560")

        // CSS
        link(rel="stylesheet" href="css/main.css")

        // Robots - Default: index, follow
        meta(name="revisit-after" content="1 week")

        //- <!-- Languages and Canonical -->
        //- <!--<link rel="alternate" hreflang="de" href="http://www.ruhr-uni-bochum.de/">-->
        //- <!--<link rel="canonical" href="http://www.ruhr-uni-bochum.de/">-->


        //content
        block title
            title= example.title
            meta(name="Description" content="Ruhr-Universität Bochum, Menschlich - Weltoffen - Leistungsstark")

        script (function(H) {H.className = H.className.replace(/\bno-js\b/, 'js')})(document.documentElement);

    body
        .page_margins
            .page

                header#header
                    a(href="http://www.ruhr-uni-bochum.de")
                        img(src="images/logos/rub-schriftzug.gif" alt="Ruhr-Universität Bochum Wortmarke" name="schriftzug" width="247" height="18" id="schriftzug" style="margin-bottom: 15px;")

                    #topnav
                        // start: skip link
                        a.skip(title="skip link" href="#navigation") Skip to the navigation
                        a.skip(title="skip link" href="#rub-inhalt") Skip to the content
                        span.hideme .
                        // end: skip link

                        a(title="Startseite der RUB" href="http://www.rub.de")
                            img(src="images/logos/logo-rub-102.gif" alt="RUB Label" name="rublabel" width="102" height="102" class="logo" id="rublabel")

                        span#uninavi
                            a(title="Startseite der RUB" href="http://www.rub.de")  Startseite
                            span |
                            a(title="RUB Schnellzugriff" href="http://www.ruhr-uni-bochum.de/uebersicht/") Übersicht
                            span |
                            a(title="RUB Suchmaschine" href="http://www.ruhr-uni-bochum.de/suche/") Suche
                            span |
                            a(title="Stichwortverzeichnis der RUB" href="http://www.ruhr-uni-bochum.de/a-z/") A-Z

                    .subcolumns
                        .c25l.aside
                            //- TODO Seitentitel dynamisch aus Content beziehen.
                            h2= example.title
                            p= example.description

                        .c75r.content
                            img.first(src="images/hp/bild007.jpg" width="700" height="300" alt="alt")

                #nav
                    // TODO

                #teaser
                    .subcolumns
                        .c75l
                            .subcl
                                ol#breadcrumbs
                                    li
                                        a(href="http://www.ruhr-uni-bochum.de/" title="Startseite der Ruhr-Universität Bochum") RUB
                                        | &raquo;
                                    li
                                        a.current Ihre Startseite
                        .c25r
                            .subcr
                                #sprache
                                    a.flagge-englisch-vor(href="#") Englisch

                main#main= example.layout
                    #inhalt
                        block main

                footer#footer
                    .subcloumns#linkleiste
                        .c25l
                            .subcl
                                a(href="href=http://www.ruhr-uni-bochum.de")
                                    img(src="https://www.ruhr-uni-bochum.de/images/logos/Logo_RUB_SCHWARZ-2.gif" width="129" height="34" alt="Logo Ruhr-Universität" style="margin-bottom:10px")
                                br
                                span Universitätsstraße 150 | 44801 Bochum
                                br
                                span Tel.: +49 234 32201
                                br
                                a(href="http://www.ruhr-uni-bochum.de/impressum.htm" title="Impressum Ruhr-Universitat Bochum") Impressum
                                span  |&nbsp;
                                a(href="http://www.ruhr-uni-bochum.de/kontakt") Kontakt RUB
                        .c25l
                            .subc
                                h6 Forung und Lehre
                                ul
                                  li
                                    a(href="http://www.ruhr-uni-bochum.de/universitaet/fakultaeten/index.html") Fakultäten
                                  li
                                    a(href="http://studienangebot.rub.de/") Studienangebot der RUB
                                  li
                                    a(href="http://www.rd.ruhr-uni-bochum.de/") Research Departments
                                  li
                                    a(href="http://www.research-school.ruhr-uni-bochum.de/") Research School
                                  li
                                    a(href="http://www.ruhr-uni-bochum.de/solvation/") Exzellenzcluster RESOLV
                        .c25l
                            .subc
                                h6 Portale
                                ul
                                    li
                                        a(href="http://aktuell.ruhr-uni-bochum.de/") Aktuell
                                    li
                                        a(href="http://www.ruhr-uni-bochum.de/berufungsportal") Berufung
                                    li
                                        a(href="http://www.ub.ruhr-uni-bochum.de/") Bibliothek
                                    li
                                        a(href="http://www.ruhr-uni-bochum.de/chancengleich/") Chancengleich
                                    li
                                        a(href="http://international.ruhr-uni-bochum.de/") International
                        .c25r
                            .subcr
                                h6 Soziale Netzwerke
                                include _includes/_social

                    .subcolumns
                        .c50l
                            .subcl
                                #ansprechpartner
                                    span Letzte Änderung: 01.01.1970 |
                                    a(href="http://www.ruhr-uni-bochum.de/impressum.htm" title="Impressum Ruhr-Universität Bochum") Impressum
                                    span |
                                    a(href="mailto:webteam@presse.ruhr-uni-bochum.de" title="Email Inhalt") Inhalt
                                    span |
                                    a(href="mailto:webmaster@ruhr-uni-bochum.de" title="Email Webmaster") Technik
                        .c50r
                            .subcr
                                #umschaltung
                                    button.footer__button.footer__button--normal(onclick="activeCSS('RUB-Normal'); Logowechsel(); return false;" title="Umschaltung Kontrast-Normalansicht") Normal
                                    button.footer__button.footer__button--kontrast(onclick="activeCSS('Kontrast'); Logowechselinvers(); return false;" title="Umschaltung Normal-Kontrastansicht") Kontrast
                                    button.footer__button.footer__button--print(onclick="javascript:self.print(); return false;" title="Diese Seite drucken") Drucken

        script(type="text/javascript" src="./js/scripts.js")
        script(type="text/javascript" src="./js/init.js")
