header#header
    a(href="http://www.ruhr-uni-bochum.de")
        img(src="images/logos/rub-schriftzug.gif" alt="Ruhr-Universität Bochum Wortmarke" name="schriftzug" width="247" height="18" id="schriftzug" style="margin-bottom: 15px;")

    #topnav
        // start: skip link
        a.skip(title="skip link" href="#navigation") Skip to the navigation
        a.skip(title="skip link" href="#rub-inhalt") Skip to the content
        span.hideme .
        // end: skip link

        a(title="Startseite der RUB" href="http://www.rub.de")
            +image("images/logos/logo-rub-102.gif", "logo", "Ruhr-Universität Bochum", 102, 102 )

        +list#uninavi
            +item
                a(title="Startseite der RUB" href="http://www.rub.de") Startseite
            +item
                a(title="RUB Schnellzugriff" href="http://www.ruhr-uni-bochum.de/uebersicht/") Übersicht
            +item
                a(title="RUB Suchmaschine" href="http://www.ruhr-uni-bochum.de/suche/") Suche
            +item
                a(title="Stichwortverzeichnis der RUB" href="http://www.ruhr-uni-bochum.de/a-z/") A-Z

    .subcolumns
        .c25l.aside
            //- Seitentitel dynamisch aus _metadata.json beziehen.
            h2= title
            p= description

        .c75r.content
            +image("images/hp/bild007.jpg", "", "700")
