head
    // Technical Stuff
    meta(charset="utf-8")
    meta(http-equiv="x-ua-compatible" content="ie=edge")

    // Responsive
    meta(name="viewport" content="width=device-width, initial-scale=1")

    // Android
    meta(name="theme-color" content="#003560")

    // CSS
    link(rel="stylesheet" href="css/main.css")

    // Robots - Default: index, follow
    meta(name="revisit-after" content="1 week")

    //- <!-- Languages and Canonical -->
    //- <!--<link rel="alternate" hreflang="de" href="http://www.ruhr-uni-bochum.de/">-->
    //- <!--<link rel="canonical" href="http://www.ruhr-uni-bochum.de/">-->


    //content
    block head
        title= title
        meta(name="Description" content="Ruhr-Universität Bochum, Menschlich - Weltoffen - Leistungsstark")

    script (function(H) {H.className = H.className.replace(/\bno-js\b/, 'js')})(document.documentElement);
