ul.socialfooter
    li.footerfb
        a.footerfb(href="https://www.facebook.com/RuhrUniBochum" title="Die RUB bei Facebook" target="_blank") Facebook
    li.footertw
        a.footertw( href="http://twitter.com/ruhrunibochum" title="Twitter-Kanal der RUB" target="_blank") Twitter
    li.footeryt
        a.footeryt(href="http://www.youtube.com/user/ruhruniversitaet/" title="Youtube-Kanal der RUB" target="_blank") Youtube
    li.footerig
        a.footerig(href="http://instagram.com/ruhrunibochum" title="Instagram-Profil der RUB" target="_blank") Instagram
