+list.list--social
    +item
        a.list__link.list__link--facebook(href="https://www.facebook.com/RuhrUniBochum" title="Die RUB bei Facebook" target="_blank") Facebook
    +item
        a.list__link.list__link--twitter( href="http://twitter.com/ruhrunibochum" title="Twitter-Kanal der RUB" target="_blank") Twitter
    +item
        a.list__link.list__link--youtube(href="http://www.youtube.com/user/ruhruniversitaet/" title="Youtube-Kanal der RUB" target="_blank") Youtube
    +item
        a.list__link.list__link--instagram(href="http://instagram.com/ruhrunibochum" title="Instagram-Profil der RUB" target="_blank") Instagram
