#footer {
    background: #f9f9f9;
    border-top: 5px #efefef solid;
    color:#666;
    padding: 10px 0px;

    a {
        color: #6b6b6b;

        &:hover {
            text-decoration: underline;
        }
    }

    h6 {
        color: #6b6b6b;
        font-size: 1em;
        font-weight: bold;
    }

    .subcolumns {
    	padding-top: 10px;
    }
}

#footer .subcl,
#footer .subc,
#footer .subcr {
  	font-size: 0.9em;
  	color: #6b6b6b;
  	padding-left:10px;
}

#footer .socialfooter {
  	margin-left: 0;
  	list-style: none;

    li {
      list-style-image:none;
      margin-left: 0px;
      line-height:20px
    }

    a {
      background-repeat:no-repeat;
      padding: 2px 0 2px 20px;
      background-position: 0 0;

      &:hover {
        background-position: 0 -24px;
      }
    }

    a[href*="facebook.com"]:link,
    a[href*="facebook.com"]:visited {
    	background-image:url(../images/icons/footer-fb.gif);
    }

    a[href*="twitter.com"]:link,
    a[href*="twitter.com"]:visited {
    	background-image:url(../images/icons/footer-tw.gif);
    }

    a[href*="youtube.com"]:link,
    a[href*="youtube.com"]:visited {
    	background-image:url(../images/icons/footer-yt.gif);
    }

    a[href*="instagram.com"]:link,
    a[href*="instagram.com"]:visited {
    	background-image:url(../images/icons/footer-ig.gif);
    }
}

#umschaltung, #sprache { text-align:right; }
#umschaltung {
  	padding-right: 10px;
}

.fusszeile {
	border-top: 1px solid #efefef;
}

#druckversion,
#normalversion,
#kontrastversion {
	a {
		background-position: left;
		background-repeat: no-repeat;
		padding-left: 1.5em;
	}
}

#druckversion a {
  	background-image: url(../images/icons/drucken.gif);
}

#normalversion a {
	display: 				none;
  	background-image: url(../images/icons/kontrast.gif);
}

#kontrastversion a {
  	background-image: url(../images/icons/kontrast.gif);
}
