
.boxgrau,
.boxgruen {
	margin: 0 0 1.5em 0;
	padding:0px;

    h3 {
        padding: 5px;
        font-size: 1em;
        color: $rub-blue;
        font-weight: bold;
        letter-spacing:1px;
    }

    h4, 
    h5, 
    p {
        padding: 5px;
    }

}

.boxgrau {
	border: 1px solid #ececec;
	border-top: 2px solid #ccc;
	background-color: #F9F9F9;
    
    h3 {
        background-color: #F0F0F0;
    }
}

.boxgruen {
	border: 1px solid $light-green;
	border-top: 2px solid $rub-green;
	background-color: #F3F7EE;

    h3 {
        background-color: $white-green;
    }

}

#inhalt .boxgrau,
#inhalt .boxgruen { 
    h3 {
        font-weight: bold;
    }
}