.link-weiterlesen {
	background:url(../images/navigation/pfeil-rechts2.gif) no-repeat 0 50%;
	padding-left:10px;
}

.link-deutsch,
.link-englisch,
.link-extern {
    padding-right: 1.5em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center right;
}

.link-englisch { 
   background-image: url(../images/icons/fl_english.gif);
}

.link-deutsch { 
   background-image: url(../images/icons/fl_deutsch.gif);
}

.link-extern {
   background-image: url(../images/icons/external.gif);
}

.link-extern-deutsch,
.link-extern-englisch {
    padding-right: 2.75em;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center right;
}

.link-extern-englisch {
   background-image: url(../images/icons/extern-englisch.gif);
}

.link-extern-deutsch {
   background-image: url(../images/icons/extern-deutsch.gif);
}