.highlight {
    color: $alert-red;
}

.dimmed {
    color: #888;
}

%alert-layout {
    margin-bottom: 1em;
    padding: 10px;
}

.note {
    @extend %alert-layout;
    background-color: #efe;
    border: 2px #484 solid;
    color: #040;
}

.important {
    @extend %alert-layout;
    background-color: #ffe;
    border: 2px #884 solid;
    color: #440;
}

.warning {
    @extend %alert-layout;
    background-color: #fee;
    border: 2px #844 solid;
    color: #400;
}

.info {
    @extend %alert-layout;
    background-color: #f8f8f8;
    color: #666;
    font-size: 91.7%;
}
