.boxgrau,
.boxgruen {
    margin: 0 0 1.5em 0;
    padding: 0;

    h3 {
        color: $rub-blue;
        font-size: 1em;
        font-weight: bold;
        letter-spacing: 1px;
        padding: 5px;
    }

    h4,
    h5,
    p {
        padding: 5px;
    }

}

.boxgrau {
    background-color: #f9f9f9;
    border: 1px solid #ececec;
    border-top: 2px solid #ccc;

    h3 {
        background-color: #f0f0f0;
    }
}

.boxgruen {
    background-color: #f3f7ee;
    border: 1px solid $light-green;
    border-top: 2px solid $rub-green;

    h3 {
        background-color: $white-green;
    }

}

#inhalt .boxgrau,
#inhalt .boxgruen {
    h3 {
        font-weight: bold;
    }
}
