.breadcrumbs {
    margin: 0;
    padding-left: 0;
}

.breadcrumbs__item {
    display: inline;
    list-style-type: none;
    margin: 0;

    &::after {
        content: ' » ';
    }

    &--current {
        cursor: default;
        font-weight: bold;

        &::after {
            content: '';
        }
    }
}

.breadcrumbs__link {
    &,
    &:focus,
    &:hover,
    &:visited {
        color: #003560;
        text-decoration: none;
    }
}

@media screen and (max-width: $screen-md) {
    .breadcrumbs {
        display: none;
    }
}
