/**
  * @section clearing methods
  * @see     http://yaml.de/en/documentation/basics/general.html
  */
.clearfix {
    display: block;

    &::after {
        clear: both;
        content: '.';
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
}

/* (en) alternative solution to contain floats */
/* (de) Alternative Methode zum Einschließen von Float-Umgebungen */
.floatbox {
    display: table;
    width: 100%;
}

/* (en) IE-Clearing:Only used in Internet Explorer, switched on in iehacks.css */
/* (de) IE-Clearing:Benötigt nur der Internet Explorer und über iehacks.css zugeschaltet */
#ie_clearing {
    display: none;
}
/*------------------------------------------------------------------------------------------------------*/
