#inhalt {
    margin: 0 10px;

    h2 {
        border-top: 2px solid $rub-blue;
        color: $font-color;
        font-weight: normal;
        padding-bottom: .625em;
        padding-top: .3125em;
    }

    h3 {
        font-weight: normal;
    }
}
