#footer {
    background: #f9f9f9;
    border-top: 5px #efefef solid;
    color: #666;
    padding: 10px 0;

    a {
        color: #6b6b6b;

        &:hover {
            text-decoration: underline;
        }
    }

    h6 {
        color: #6b6b6b;
        font-size: 1em;
        font-weight: bold;
    }

    .subcolumns {
        padding-top: 10px;
    }

    .subc,
    .subcl,
    .subcr {
        color: #6b6b6b;
        font-size: .9em;
        padding-left: 10px;
    }

    .socialfooter {
        list-style: none;
        margin-left: 0;

        li {
            line-height: 20px;
            list-style-image: none;
            margin-left: 0;
        }

        a {
            background-position: 0 0;
            background-repeat: no-repeat;
            padding: 2px 0 2px 20px;

            &:hover {
                background-position: 0 -24px;
            }
        }

        a[href*='facebook.com']:link,
        a[href*='facebook.com']:visited {
            background-image: url('../images/icons/footer-fb.gif');
        }

        a[href*='twitter.com']:link,
        a[href*='twitter.com']:visited {
            background-image: url('../images/icons/footer-tw.gif');
        }

        a[href*='youtube.com']:link,
        a[href*='youtube.com']:visited {
            background-image: url('../images/icons/footer-yt.gif');
        }

        a[href*='instagram.com']:link,
        a[href*='instagram.com']:visited {
            background-image: url('../images/icons/footer-ig.gif');
        }
    }
}

#sprache,
#umschaltung {
    text-align: right;
}

#umschaltung {
    padding-right: 10px;
}

.fusszeile {
    border-top: 1px solid #efefef;
}

.footer__button {
    background-color: transparent;
    background-position: left;
    background-repeat: no-repeat;
    border: 0;
    padding-left: 1.5em;

    &:hover {
        text-decoration: underline;
    }

    &--print {
        background-image: url('../images/icons/drucken.gif');
    }

    &--kontrast {
        background-image: url('../images/icons/kontrast.gif');
    }

    &--normal {
        background-image: url('../images/icons/kontrast.gif');
        display: none;
    }
}
