.header {
    background-color: $white;
    background-image: url('../images/backgrounds/bg-oben-unterseite-grau136.gif');
    background-repeat: repeat-x;
    color: $black;
    padding: 20px 0 0 0;

    &__title {
        color: $rub-green;
        font-size: 200%;
        font-weight: bold;
        padding: 10px 0 10px 10px;
        text-transform: uppercase;
    }

    &__subtitle {
        font-weight: normal;
        margin-bottom: 1em;
    }

    #schriftzug {
        margin-bottom: 15px;
    }
}

.header--wide {
    background-color: $white;
    color: $black;
    padding: 20px 0 0 0;
    position: relative;

    .header__aside {
        background-color: #ececec;
        height: calc(280px + 20px - 2em);
        padding: 1em 10px;
        width: 240px;
    }

    .header__image {
        background-color: #ececec;
        width: 700px;
    }

    .header__title {
        color: $rub-blue;
        font-size: 1.5em;
        font-weight: normal;
        margin-bottom: 1em;
        padding: 0;
        text-transform: none;
    }
}
