#seitennavigation {
    background: $white;

    h3 {
        border-top: 2px solid $rub-green;
        color: $rub-blue;
        font-weight: normal;
        padding: .3125em 0 .625em;
    }

    ul {
        border-bottom: 1px solid #ccc;
        border-top: 2px solid $rub-green;
        list-style: none;
        margin: 0 0 1.5em;

        li {
            margin: 0 !important;
            position: relative;

            a {
                display: block;
            }
        }

        ul {
            background-color: $white;
            border-bottom: 0;
            border-top: 0;
            list-style: none;
            margin: 0;

            li a {
                margin-left: .75em;
            }

            ul li a {
                margin-left: 1.5em;
            }
        }
    }

    a {
        &:hover {
            background-color: $white-green;
            text-decoration: none;
        }

        &:link,
        &:visited {
            background-image: url('../images/navigation/pfeil-rechts2.gif');
            background-position: .25em 50%;
            background-repeat: no-repeat;
            border-top: 1px solid #ccc;
            color: $rub-blue;
            padding: .25em .25em .25em 1em;
            text-decoration: none;
        }
    }
}

.aktiverlink {
    background-color: $white-green;
    font-weight: bold !important;
}

a.aktivebox_ueberschrift {
    background-color: $white-green;
    font-weight: bold !important;
}
@media screen and (max-width: $screen-md) {
    #seitennavigation {
        display: none;
    }
}
