#rub-themenbox {
	background: #f3f3f3;
	height: 300px;
	overflow: hidden;
	position: relative;
	width: 700px;
}

#rub-slider_outer {
    background: none repeat scroll 0 0 #FFFFFF;
    height: 300px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 700px;
}

#rub-slider_inner {
    height: 300px;
    overflow: hidden;
    position: relative;
    width: 700px;

    .rub-slider-thema {
        float: left;
        height: 300px;
        width: 700px;
    }
}

#rub-slider_control {
    height: 30px;
    overflow: hidden;
    position: absolute;
    right: 5px;
    text-align: right;
    top: 270px;
    width: 150px;
    z-index: 100;
}

#caption,
#prev,
#next,
#pause,
#play {
    float: right;
}

#prev,
#next,
#pause,
#play {
    cursor: pointer;
}

#caption {
    color: #f0f0f0;
    font-size: 90%;
    margin: 9px 10px 0 0;
}

#prev {
    border-left: 1px solid #333;
    border-right: 1px solid #333;
}

#pause {
    border-right: 1px solid #333;
}

#play {
    border-right: 1px solid #333;
    display: none;
}

.rub-slider_overlay {
    background: none repeat scroll 0 0 #000;
    filter: alpha(opacity=50);
    height: 30px;
    left: 0;
    opacity: .5;
    overflow: hidden;
    padding: 0 10px;
    position: absolute;
    top: 270px;
    width: 680px;
    z-index: 10;
}

.rub-slider_text {
    color: #f0f0f0;
    font-size: 95%;
    height: 30px;
    left: 0;
    position: absolute;
    top: 270px;
    width: 700px;
    z-index: 100;

    p {
        margin: 0;
        padding: 6px 0 0 10px;
    }

    a:link,
    a:visited {
        color: #f0f0f0;
        text-decoration: underline;
    }

    a:hover {
        color: #f0f0f0;
        text-decoration: underline;
    }
}
