.topnav {
    background: transparent;
    color: #aaa;
    position: absolute;
    right: -30px;
    text-align: right;
    top: 0;
    z-index: 9999;

    &__logo {
        float: right;
        margin-left: 20px;
        width: 102px;
    }
}

.uninavi {
    display: inline;
    line-height: 4em;
    list-style-type: none;

    > .list__item {
        border-right: 1px solid #aaa;
        display: inline-block;
        line-height: 1em;
        margin-left: 0;
        padding-left: .3em;
        padding-right: .3em;

        &:last-child {
            border-right: 0;
        }
    }

    a {
        &:link,
        &:visited {
            color: #5c5c5c;
            font-size: .9em;
            font-weight: bold;
            letter-spacing: 1px;
            text-decoration: none;
            text-transform: uppercase;
        }
    }
}

@media screen and (max-width: $screen-xl) {
    .topnav {
        right: 0;
    }
}

@media screen and (max-width: $screen-md) {
    .topnav {
        top: 35px;
        width: 100%;

        &__logo {
            margin-top: -35px;
        }
    }

    .uninavi {
        display: none;
        left: 10px;
        position: absolute;
    }
}

@media screen and (max-width: $screen-xs) {
    .topnav__logo {
        display: none;
    }
}
