#topnav {
	position:absolute;
	top:0px;
	right:-30px;
	text-align:right;
	color: #aaa;
	background: transparent;
	z-index:9999
}

#topnav img.logo {
    float: right;
    margin-left: 20px;
    width: 102px;
}

#uninavi {
    line-height: 4em;
    display: inline;
    list-style-type: none;

    > li {
        display: inline-block;
        border-right: 1px solid #aaa;
        padding-right: 0.3em;
        padding-left: 0.3em;
        margin-left: 0;
        line-height: 1em;

        &:last-child {
            border-right: 0;
        }
    }

    a:link,
    a:visited {
        color: #5C5C5C;
        font-size: 0.9em;
        font-weight: bold;
        letter-spacing: 1px;
        text-decoration: none;
        text-transform: uppercase;
    }
}

@media screen and (max-width: $screen-xl) {
    #topnav {
        right: 0;
    }
}

@media screen and (max-width: $screen-md) {
    #topnav {
        top: 35px;
        width: 100%;

        img.logo {
            margin-top: -35px;
        }
    }

    #uninavi {
        left: 10px;
        position: absolute;
        display: none;
    }
}

@media screen and (max-width: $screen-xs) {
    #topnav img.logo {
        width: 50px;
        height: 50px;
    }

    #topnav .logo {
        display: none;
    }
}
